@import "tailwindcss";

@variant dark (.dark &);

@layer base {
  :root {
    --bg-base: 255 255 255;
    --text-base: 9 9 11;
    --bg-card: 255 255 255;
    --border: 228 228 231;
    --bg-hover: 244 244 245;
  }

  .dark {
    --bg-base: 9 9 11;
    --text-base: 250 250 250;
    --bg-card: 24 24 27;
    --border: 39 39 42;
    --bg-hover: 39 39 42;
  }

  body {
    background-color: rgb(var(--bg-base));
    color: rgb(var(--text-base));
    transition: background-color 0.3s, color 0.3s;
  }

  /* Ajustes específicos para modo oscuro */
  .dark a {
    color: rgb(var(--text-base));
  }

  .dark nav {
    border-color: rgb(var(--border));
    background-color: rgba(var(--bg-base), 0.8);
  }
}